<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="@(Links.Content.bootstrap_min_css)" rel="stylesheet" />
    <link href="@(Links.Content.site_css)" rel="stylesheet" />

    @RenderSection(name: "StyleSheetExceptions", required: false)
</head>
<body>
    @Html.Partial(MVC.Shared.Views.PartialViews._DisplayNavbar)

    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial(MVC.Shared.Views.PartialViews._DisplayFooter)

    <script src="@(Links.Scripts.jquery_3_3_1_min_js)"></script>
    <script src="@(Links.Scripts.bootstrap_min_js)"></script>

    @RenderSection(name: "JavaScriptExceptions", required: false)
</body>
</html>
