<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="@Links.Content.bootstrap_min_css" rel="stylesheet" />
    <link href="@Links.Content.site_css" rel="stylesheet" />
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>


    <script src="@Links.Scripts.jquery_3_3_1_min_js"></script>
    <script src="@Links.Scripts.bootstrap_bundle_min_js"></script>
    <script src="@Links.Scripts.siteExceptions_js"></script>
</body>
</html>
